.navbar {
	margin-bottom: 0 !important;
}

.fixed_top_right_brand {
	position: absolute;
	right: 0px;
	padding-right: 5px;
	padding-left: 5px;
	z-index: 99;
	
	color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 10px;
    
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.fixed_top_right_menu {
	position: absolute;
	right: 5px;
	z-index: 99;
	
	color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.3);
}

.top_right_menu {
	float: right;
}

.top_right_menu li {
	display: inline-block;
}

.menu_fixed {
	color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.3);
}

.menu_fixed:hover {
	text-decoration: none;
}