.navbar {
	margin-bottom: 0 !important;
}

.fixed_top_right_brand {
	position: absolute;
	top: 5px;
	right: 0px;
	margin-right: 5px;
	padding-right: 15px;
	padding-left: 15px;
	z-index: 50;
	
	color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.fixed_top_right_brand h1{
	font-family: ‘Exo 2’, Helvetica, sans-serif; font-weight: 100;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.fixed_top_right_menu {
	position: absolute;
	top: 90px;
	right: 0px;
	margin-right: 5px;
	z-index: 99;
	
	color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    
    border-radius: 4px;
    
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    
    padding: 10px;
}

.top_right_menu {
	float: right;
}

.top_right_menu li {
	display: inline-block;
	font-family: ‘Exo 2’, Helvetica, sans-serif; font-weight: 400;
}

div.leaflet-top.leaflet-right {
	margin-top: 90px;
	margin-right: 5px !important;
}

div.leaflet-control-layers.leaflet-control, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
	margin: 0 !important;
	background-color: rgba(255, 255, 255, 0.8) !important;
}