{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Map{% endblock %}

{% block content %}
   
    <div id="map">
    	<span class="fixed_top_right_brand">
	    	<h1><a class="brand" href="#"><img class="logo_branding" width="199px" src = "{% static 'img/logo.png' %}"></a></h1>
	    </span>
	</div>
	
	<script src="{% static 'js/filtered.js' %}"></script>

	<script>

        //Custom marker icons common settings
        var tweetMarker = L.Icon.extend({
	        options: {
		        shadowUrl: '{% static 'img/mshadow.png' %}',
		        iconSize:     [35, 50],
		        shadowSize:   [45, 50],
		        iconAnchor:   [17, 50],
		        shadowAnchor: [10, 50],
		        popupAnchor:  [-1, -45]
        	}
        });

        //Custom marker icons individual images
        var ms5 = new tweetMarker({iconUrl: '{% static 'img/ms5.png' %}'}),
            ms4 = new tweetMarker({iconUrl: '{% static 'img/ms4.png' %}'}),
            ms3 = new tweetMarker({iconUrl: '{% static 'img/ms3.png' %}'}),
            ms2 = new tweetMarker({iconUrl: '{% static 'img/ms2.png' %}'}),
            ms1 = new tweetMarker({iconUrl: '{% static 'img/ms1.png' %}'});

        //function to choose icon based on sentiment score
		function iconColour(d) {
			if (d <= 1 && d > 0.6){
				return ms5;
			}
			if (d <= 0.6 && d > 0.2){
				return ms4;
			}
			if (d <= 0.2 && d > -0.2){
				return ms3;
			}
			if (d <= -0.2 && d > -0.6){
				return ms2;
			}
			if (d <= -0.6 && d >= -1){
				return ms1;
			}
		}
		
		//Function to return a tweet in the form of a bootbox modal
		function getText(id) {
			$.get('/data/get_tweet/' + id, function(stuff) {
				bootbox.alert(
					'<div class="twitter-tweet" lang="en"><p>' + stuff.body + '</p><br /></p><p class="pull-right"> &mdash; @<a href="https://twitter.com/' + stuff.user + '">' + stuff.user + '</a>, ' + stuff.timestamp + '</p></div>', function() {
           		});
        	})
		}

		//Placeholder function which will return a wordcloud.
		function getWordCloud(id) {
			console.log('done')
			bootbox.alert('<iframe style="border: 0; border-radius:5px; overflow:none;" width="560px" height="450px" src="/data/get_tag_cloud/' + id + '"></iframe>', function() {});
		}

		//Function which will be run against every tweet added from /data/get_tweet_meta
		function onEachTweet(feature, layer) {
			id = feature.properties.id;
			layer.on ({
				click: layer.bindPopup('<button class="btn btn-primary" onClick="getText(' + id + ')">View Tweet</button>')
			})
    	}
    	function onEachTweetAverage(feature, layer) {
			id = feature.properties.id;
			layer.on ({
				click: layer.bindPopup('<button class="btn btn-primary" onClick="getWordCloud(\'' + feature.properties.code + '\')">Word Cloud</button>')
			})
    	}
        
        //Setting up the tthree main layergroups
        var tweets = new L.layerGroup();
        var tweets_average = new L.layerGroup();

        var geoJsonUk = new L.layerGroup();   
        
        //Loading the polygons of the SIMD data, without AJAX.
        var geojson = L.geoJson(ukData, {onEachFeature: onEachFeaturePolygon, style: style}).addTo(geoJsonUk); 

        //Loading the tweets JSON, converting it to a layer and then passing it through onEachTweet			
		$.get('/data/get_tweet_meta/', function(data) {
			var tweet_data = data;
			L.geoJson(tweet_data, {
				pointToLayer: function (feature, latlng) {
					return L.marker(latlng, {icon: iconColour(feature.properties.happiness)});
				}, onEachFeature: onEachTweet
			}).addTo(tweets);
		});	
		
		$.get('/data/get_average_tweet_meta/', function(data_average) {
			var tweet_average_data = data_average;
			L.geoJson(tweet_average_data, {
				pointToLayer: function (feature, latlng) {
					return L.marker(latlng, {icon: iconColour(feature.properties.happiness)});
				}, onEachFeature: onEachTweetAverage
			}).addTo(tweets_average);
		});		

		//Attributions required by the terms of the licenses we use.
		var cmAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			cmUrl = 'http://{s}.tile.cloudmade.com/77ff4841d6f0491bab827407e8100358/{styleId}/256/{z}/{x}/{y}.png';

		//Default style
		var minimal   = L.tileLayer(cmUrl, {styleId: 997, attribution: cmAttr});

		//Function which will be run against every tweet added from /js/filtered.js. Adds mouseover functionality and a popup.
		function onEachFeaturePolygon(feature, layer) {
            layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight
			});
			if (feature.properties && feature.properties.DZ_CODE) {
				layer.bindPopup('<b>Name:	</b>' + feature.properties.DZ_NAME + '<br /><b>Code:	</b>' + feature.properties.DZ_CODE + '<br /><b>SIMD Rank:	</b>' + Math.floor(feature.properties.SIMD_RANK / 6505 * 100) + '/100 <br /><br /><button class="btn btn-primary" onClick="getWordCloud(\'' + feature.properties.DZ_CODE + '\')">Word Cloud</button>');
			}
		}

		//Function which will return the Hex colour corresponding to the SIMD rank of a polygon       
		function getColor(x) {
			if (x > 5200) {return '#00bf00';}
			else if (x <= 5200 && x > 3900) {return '#7fff00';}
			else if (x <= 3900 && x > 2600) {return '#ffff00';}
			else if (x <= 2600 && x > 1300) {return '#ff7f00';}
			else if (x <= 1300 && x >= 0) {return '#bf0000';}
			else { return '#7f7f7f';}
		}
        
        //Function which will provides the styles for a given polygon
		function style(feature) {
		    return {
		      	fillColor: getColor(feature.properties.SIMD_RANK),
		        weight: 2,
		        opacity: 1,
		        color: 'white',
		        dashArray: '3',
		        fillOpacity: 0.25 
		    };
		}
        
		//BORDERS ON HOVER       
		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 4,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.75
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
		}       
        
		function resetHighlight(e) {
		    geojson.resetStyle(e.target);
		}
     
		var map = L.map('map', {
			center: [55.9444, -3.1872],
			zoom: 12,
			layers: [minimal],
            loadingControl: true
		});

		var baseLayers;

		var overlays = {
			"Region Tweets": tweets_average,
            "Individual Tweets": tweets,
            "Data Zones" : geoJsonUk
		};

		L.control.layers(baseLayers, overlays).setPosition("topright").addTo(map);

	</script>
	
{% endblock %}