{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Map{% endblock %}

{% block content %}
    
    <script async ="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div id="map">
    	<span class="fixed_top_right_brand">
	    	<h1><a class="brand" href="#"><img class="logo_branding" width="199px" src = "{% static 'img/logo.png' %}"></a></h1>
	    	<ul class="top_right_menu">
	    		<li><a href="#home" class="menu_fixed">Home</a></li>
	    		<li>|</li>
	    		<li><a href="about" class="menu_fixed">About</a></li>
	    		<li>|</li>
	    		<li><a href="#stats" class="menu_fixed">Stats</a></li>
	    	</ul>
	    </span>
	</div>
    <script type="text/javascript" src="{% static 'js/filtered.js' %}"></script>

	<script>
	
		$( document ).ready(function() {
			$('.leaflet-marker-icon').click(function(){
				console.log('test')
				var id = Document.getElementById('data-tweet-id')
				getText(id)
			}
    	)});

        //Custom marker icons common settings
        var tweetMarker = L.Icon.extend({
        options: {
        shadowUrl: '{% static 'img/mshadow.png' %}',
        iconSize:     [35, 50],
        shadowSize:   [45, 50],
        iconAnchor:   [17, 50],
        shadowAnchor: [10, 50],
        popupAnchor:  [-1, -45]
        }
        });

        //Custom marker icons individual images
        var ms5 = new tweetMarker({iconUrl: '{% static 'img/ms5.png' %}'}),
            ms4 = new tweetMarker({iconUrl: '{% static 'img/ms4.png' %}'}),
            ms3 = new tweetMarker({iconUrl: '{% static 'img/ms3.png' %}'}),
            ms2 = new tweetMarker({iconUrl: '{% static 'img/ms2.png' %}'}),
            ms1 = new tweetMarker({iconUrl: '{% static 'img/ms1.png' %}'});

        //function to choose icon based on sentiment score

        //Buildings layer group
        var buildings = new L.layerGroup();
		var tweets = new L.layerGroup();
		
		function iconColour(d) {
			if (d <= 1 && d > 0.6){
				return ms5;
			}
			if (d <= 0.6 && d > 0.2){
				return ms4;
			}
			if (d <= 0.2 && d > -0.2){
				return ms3;
			}
			if (d <= -0.2 && d > -0.6){
				return ms2;
			}
			if (d <= -0.6 && d >= -1){
				return ms1;
			}
		}
		
		function getText(id) {
			$.get('/data/get_tweet/' + id, function(stuff) {
				bootbox.alert('<div class="twitter-tweet" lang="en"><p>' + stuff.body + '</p><br /></p><p class="pull-right"> &mdash; @<a href="https://twitter.com/' + stuff.user + '">' + stuff.user + '</a>, ' + stuff.timestamp + '</p></div>', function() {
            });
        	})
		}
		function onEachTweet(feature, layer) {
			layer.on ({
				click: layer.bindPopup('<div id="tweet_id" data-tweet-id="' + feature.properties.id +'">Please wait...</div>')
			})
    	}
        
        //Tweets layer group			
		$.get('/data/get_tweet_meta/', function(data) {
			var tweet_data = data;
			L.geoJson(tweet_data, {
				pointToLayer: function (feature, latlng) {
					return L.marker(latlng, {icon: iconColour(feature.properties.happiness)});
				}, onEachFeature: onEachTweet
			}).addTo(tweets);
		});
			

		var cmAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			cmUrl = 'http://{s}.tile.cloudmade.com/77ff4841d6f0491bab827407e8100358/{styleId}/256/{z}/{x}/{y}.png';

		var minimal   = L.tileLayer(cmUrl, {styleId: 997, attribution: cmAttr});

		function onEachFeaturePolygon(feature, layer) {
			// does this feature have a property named popupContent?
            layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight
//                , click: zoomToFeature
			});
			if (feature.properties && feature.properties.DZ_CODE) {
				layer.bindPopup("<b>Name:	</b>" + feature.properties.DZ_NAME + "<br /><b>Code:	</b>" + feature.properties.DZ_CODE + "<br /><b>SIMD Rank:	</b>" + Math.floor(feature.properties.SIMD_RANK / 6505 * 100) + "/100");
			}
		}

//geoJSON drawing with conditional colouring        

        
var geoJsonUk = new L.layerGroup();      
        
function getColor(x) {
    return (x > 5200) ? '#00bf00' :
           (x > 3900 && x <= 5200) ? '#7fff00' :
           (x > 2600 && x <= 3900) ? '#ffff00' :
           (x > 1300 && x <= 2600) ? '#ff7f00' :
           (x > 0    && x <= 1300) ? '#bf0000' :
                                     '#7f7f7f' ;
}
        
function style(feature) {
    return {
        fillColor: getColor(feature.properties.SIMD_RANK),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.25 
    };
}
        
// BORDERS ON HOVER
        
function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 4,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.75
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
        }
        
var geojson;        
        
function resetHighlight(e) {
    geojson.resetStyle(e.target);
}

function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

        
geojson = L.geoJson(ukData, {onEachFeature: onEachFeaturePolygon, style: style}).addTo(geoJsonUk);        
        
var map = L.map('map', {
				center: [55.9444, -3.1872],
				zoom: 12,
				layers: [minimal, buildings],
                loadingControl: true
		});

var baseLayers = {
		};

var overlays = {
			"Tweets": tweets,
            "Data Zones" : geoJsonUk
		};

		L.control.layers(baseLayers, overlays).setPosition("topright").addTo(map);

	</script>
	
{% endblock %}